{{ define "main" }}
<section class="bg-black pt-24 md:pt-40 pb-24 font-serif">
  <div class="container mx-auto px-4">
    <div class="max-w-3xl" data-aos="fade-up" data-aos-duration="950" data-aos-anchor-placement="top-bottom">
      <a href="/" class="flex items-center mb-6">
        <img class="mr-3" src="/img/icons/arrow-btn-left-white.svg" alt="Icono flecha hacia izquierda">
        <span class="text-base font-sans font-bold text-white">Volver al inicio</span>
      </a>
      <h1 class="text-4xl md:text-5xl font-bold text-white leading-tight mb-5">Casos</h1>
      <h2 class="text-xl md:text-2xl text-wkGray leading-relaxed mb-12">Procesos, fracasos, aprendizajes y resultados. Los valoramos, y nos da gusto hablar de ellos.</h2>
    </div>
  </div>
</section>
<section class="pt-32 pb-20 bg-white">
  <div class="container mx-auto px-4">
    <div class="md:flex justify-between items-center mb-16">
      <h3 class="text-3xl md:text-4xl font-bold text-black leading-tight mb-6 md:mb-0" data-aos="fade-right" data-aos-duration="950" data-aos-anchor-placement="top-bottom">UX & Product Design</h3>
      {{/*  <div>
        <a href="/uxsprints" class="flex items-center" data-aos="fade-left" data-aos-duration="950" data-aos-anchor-placement="top-bottom">
          <img class="mr-3" src="/img/icons/arrow-btn-right-black.svg" alt="Icono flecha hacia derecha">
          <span class="text-base font-sans font-bold text-black">Ver metodología</span>
        </a>
      </div>  */}}
    </div>
    <div class="md:grid md:grid-cols-12 md:gap-8">
      <article class="col-span-4 px-6 py-10 border border-secondary mb-4 md:mb-0" data-aos="fade-up" data-aos-duration="950" data-aos-anchor-placement="top-bottom">
        <h5 class="text-xl font-bold text-black leading-tight mb-3">OpenHealth</h5>
        <p class="text-base text-secondary leading-relaxed mb-6">Una app de seguimiento que surgió durante el contexto COVID19 con la necesidad de ayudar a los ciudadanos a transitar la pandemia.</p>
        <a href="/casos/openhealth" class="flex items-center">
          <img class="mr-3" src="/img/icons/arrow-btn-right-black.svg" alt="Icono flecha hacia derecha">
          <span class="text-base font-sans font-bold text-black">Ver caso</span>
        </a>
      </article>
      <article class="col-span-4 px-6 py-10 border border-secondary mb-4 md:mb-0" data-aos="fade-up" data-aos-duration="950" data-aos-anchor-placement="top-bottom">
        <h5 class="text-xl font-bold text-black leading-tight mb-3">FucerNet</h5>
        <p class="text-base text-secondary leading-relaxed mb-6">Una plataforma enfocada en distribuir documentación normativa dentro del ámbito jurídico y registral.</p>
        <a href="/casos/fucernet" class="flex items-center">
          <img class="mr-3" src="/img/icons/arrow-btn-right-black.svg" alt="Icono flecha hacia derecha">
          <span class="text-base font-sans font-bold text-black">Ver caso</span>
        </a>
      </article>
      <article class="col-span-4 px-6 py-10 border border-secondary" data-aos="fade-up" data-aos-duration="950" data-aos-anchor-placement="top-bottom">
        <h5 class="text-xl font-bold text-black leading-tight mb-3">CambioAR</h5>
        <p class="text-base text-secondary leading-relaxed mb-6">Una web app para comprar y vender dólares de forma 100% digital</p>
        <a href="/casos/cambioar" class="flex items-center">
          <img class="mr-3" src="/img/icons/arrow-btn-right-black.svg" alt="Icono flecha hacia derecha">
          <span class="text-base font-sans font-bold text-black">Ver caso</span>
        </a>
      </article>
    </div>
  </div>
</section>
<section class="pb-32 pt-20 bg-white">
  <div class="container mx-auto px-4">
    <div class="md:flex justify-between items-center mb-16">
      <h3 class="text-3xl md:text-4xl font-bold text-black leading-tight mb-6 md:mb-0" data-aos="fade-right" data-aos-duration="950" data-aos-anchor-placement="top-bottom">Growth Marketing</h3>
      {{/*  <div>
        <a href="/growthmarketing" class="flex items-center" data-aos="fade-left" data-aos-duration="950" data-aos-anchor-placement="top-bottom">
          <img class="mr-3" src="/img/icons/arrow-btn-right-black.svg" alt="Icono flecha hacia derecha">
          <span class="text-base font-sans font-bold text-black">Ver metodología</span>
        </a>
      </div>  */}}
    </div>
    <div class="md:grid md:grid-cols-12 md:gap-8">
      <article class="col-span-4 px-6 py-10 border border-secondary mb-4 md:mb-0" data-aos="fade-up" data-aos-duration="950" data-aos-anchor-placement="top-bottom">
        <h5 class="text-xl font-bold text-black leading-tight mb-3">Vinimay App</h5>
        <p class="text-base text-secondary leading-relaxed mb-6">Reimaginando el crecimiento de Vinimay, un museo digital de camisetas de fútbol, con un proceso de Discovery.</p>
        <a href="/casos/vinimay" class="flex items-center">
          <img class="mr-3" src="/img/icons/arrow-btn-right-black.svg" alt="Icono flecha hacia derecha">
          <span class="text-base font-sans font-bold text-black">Ver caso</span>
        </a>
      </article>
      <article class="col-span-4 px-6 py-10 border border-secondary mb-4 md:mb-0" data-aos="fade-up" data-aos-duration="950" data-aos-anchor-placement="top-bottom">
        <h5 class="text-xl font-bold text-black leading-tight mb-3">Tigout</h5>
        <p class="text-base text-secondary leading-relaxed mb-6">Ayudando a una startup a validar su producto, "la Nespresso de las pastelerías", en Argentina.</p>
        <a href="/casos/tigout" class="flex items-center">
          <img class="mr-3" src="/img/icons/arrow-btn-right-black.svg" alt="Icono flecha hacia derecha">
          <span class="text-base font-sans font-bold text-black">Ver caso</span>
        </a>
      </article>
      <article class="col-span-4 px-6 py-10 border border-secondary mb-4 md:mb-0" data-aos="fade-up" data-aos-duration="950" data-aos-anchor-placement="top-bottom">
        <h5 class="text-xl font-bold text-black leading-tight mb-3">CulturaIT</h5>
        <p class="text-base text-secondary leading-relaxed mb-6">+500 leads calificados para contactar vía mail o Linkedin con campañas de nutrición de esos leads mediantes contenidos relevantes para la industria.</p>
        <a href="/casos/culturait" class="flex items-center">
          <img class="mr-3" src="/img/icons/arrow-btn-right-black.svg" alt="Icono flecha hacia derecha">
          <span class="text-base font-sans font-bold text-black">Ver caso</span>
        </a>
      </article>
      <article class="col-span-4 px-6 py-10 border border-secondary mb-4 md:mb-0" data-aos="fade-up" data-aos-duration="950" data-aos-anchor-placement="top-bottom">
        <h5 class="text-xl font-bold text-black leading-tight mb-3">Remax Blue</h5>
        <p class="text-base text-secondary leading-relaxed mb-6">+10 leads calificados semanales que entraban en un embudo automatizado de nutrición para ser invitados a charlas informativas online y luego entrevistados uno a uno.</p>
        <a href="/casos/remaxblue" class="flex items-center">
          <img class="mr-3" src="/img/icons/arrow-btn-right-black.svg" alt="Icono flecha hacia derecha">
          <span class="text-base font-sans font-bold text-black">Ver caso</span>
        </a>
      </article>
      <article class="col-span-4 px-6 py-10 border border-secondary" data-aos="fade-up" data-aos-duration="950" data-aos-anchor-placement="top-bottom">
        <h5 class="text-xl font-bold text-black leading-tight mb-3">Tincho&Lola</h5>
        <p class="text-base text-secondary leading-relaxed mb-6">Generación del 50% de las ventas de forma orgánica a través de campañas de email marketing y acciones específicas de facebook ads.</p>
        <a href="/casos/tinchoandlola" class="flex items-center">
          <img class="mr-3" src="/img/icons/arrow-btn-right-black.svg" alt="Icono flecha hacia derecha">
          <span class="text-base font-sans font-bold text-black">Ver caso</span>
        </a>
      </article>
      <article class="col-span-4 px-6 py-10 border border-secondary" data-aos="fade-up" data-aos-duration="950" data-aos-anchor-placement="top-bottom">
        <h5 class="text-xl font-bold text-black leading-tight mb-3">Dr. La Rosa</h5>
        <p class="text-base text-secondary leading-relaxed mb-6">Un sistema validado de generación de contenidos de valor logrando un +200% de aumento anual de seguidores.</p>
        <a href="/casos/drlarosa" class="flex items-center">
          <img class="mr-3" src="/img/icons/arrow-btn-right-black.svg" alt="Icono flecha hacia derecha">
          <span class="text-base font-sans font-bold text-black">Ver caso</span>
        </a>
      </article>
    </div>
  </div>
</section>
{{ partial "contact-cta.html" . }}
{{ end }}