{{ define "main" }}
<section class="bg-black pt-24 md:pt-40 pb-24 font-serif">
  <div class="container mx-auto px-4">
    <div class="max-w-3xl" data-aos="fade-up" data-aos-duration="950" data-aos-anchor-placement="top-bottom">
      <a href="/" class="flex items-center mb-6">
        <img class="mr-3" src="/img/icons/arrow-btn-left-white.svg" alt="Icono flecha hacia izquierda">
        <span class="text-base font-sans font-bold text-white">Volver al inicio</span>
      </a>
      <h1 class="text-4xl md:text-5xl font-bold text-white leading-tight mb-5">Growth Marketing</h1>
      <h2 class="text-xl md:text-2xl text-wkGray leading-relaxed mb-12">Tenemos una metodología muy definida. Usamos tus <span class="text-primary">recursos disponibles</span> para potenciar tu crecimiento. Un experimento a la vez.</h2>
    </div>
  </div>
</section>
<section class="py-32 bg-white">
  <div class="container mx-auto px-4">
    <div class="md:grid md:grid-cols-12 md:gap-8 mb-24">
      <article class="col-span-8 col-start-3 relative mb-12" data-aos="fade-up" data-aos-duration="950" data-aos-anchor-placement="top-bottom">
        <div class="bg-wkWhite relative z-10 py-10 px-8">
          <h4 class="font-bold text-black text-xl leading-tight mb-6">Encontramos tu tráfico</h4>
          <p class="text-base leading-relaxed text-secondary mb-4">Puede ser de tu audiencia en Instagram, en Youtube o en Linkedin. Sea donde sea, buscamos crear disparadores para hacer llegar la propuesta de valor.</p>
          <p class="text-base leading-relaxed text-secondary mb-4">Si no dispones de una audiencia muy clara, podemos utilizar publicidad online hipersegmentada para generar clientes potenciales y tomar mejores decisiones a medida que cuidamos tu presupuesto.</p>
          <p class="text-base leading-relaxed text-secondary mb-4">Además, para casos B2B generamos bases de datos personalizadas y aplicamos uso de CRM para gestionar el proceso de ventas de la forma más efectiva posible.</p>
          <h6 class="text-sm font-bold text-black pt-2 mb-3">Herramientas</h6>
          <div class="flex items-center -mx-2">
            <div class="bg-secondary py-2 px-6 rounded-full shadow-md inline-block mx-2">
              <span class="text-center block text-sm font-bold text-wkGray">Linkedin</span>
            </div>
            <div class="bg-secondary py-2 px-6 rounded-full shadow-md inline-block mx-2">
              <span class="text-center block text-sm font-bold text-wkGray">Google Ads</span>
            </div>
            <div class="bg-secondary py-2 px-6 rounded-full shadow-md inline-block mx-2">
              <span class="text-center block text-sm font-bold text-wkGray">Facebook Ads</span>
            </div>
            <div class="bg-secondary py-2 px-6 rounded-full shadow-md inline-block mx-2">
              <span class="text-center block text-sm font-bold text-wkGray">Instagram</span>
            </div>
          </div>
        </div>
        <div class="w-full h-full border border-secondary absolute z-0 top-1 left-1"></div>
      </article>
      <article class="col-span-8 col-start-3 relative mb-12" data-aos="fade-up" data-aos-duration="950" data-aos-anchor-placement="top-bottom">
        <div class="bg-wkWhite relative z-10 py-10 px-8">
          <h4 class="font-bold text-black text-xl leading-tight mb-6">Definimos lo que hay que medir</h4>
          <p class="text-base leading-relaxed text-secondary mb-4">A veces se habla de Growth hacking y demás historias pero se deja de lado lo que se busca hacer crecer exactamente.</p>
          <p class="text-base leading-relaxed text-secondary mb-4">Pueden ser descargas de apps, pueden ser reuniones con fundadores de empresas o pueden ser mails respondidos. Cada uno tiene su métrica según sus necesidades.</p>
          <h6 class="text-sm font-bold text-black pt-2 mb-3">Herramientas</h6>
          <div class="flex items-center -mx-2">
            <div class="bg-secondary py-2 px-6 rounded-full shadow-md inline-block mx-2">
              <span class="text-center block text-sm font-bold text-wkGray">Analytics</span>
            </div>
            <div class="bg-secondary py-2 px-6 rounded-full shadow-md inline-block mx-2">
              <span class="text-center block text-sm font-bold text-wkGray">Google Sheets</span>
            </div>
            <div class="bg-secondary py-2 px-6 rounded-full shadow-md inline-block mx-2">
              <span class="text-center block text-sm font-bold text-wkGray">Airtable</span>
            </div>
          </div>
        </div>
        <div class="w-full h-full border border-secondary absolute z-0 top-1 left-1"></div>
      </article>
      <article class="col-span-8 col-start-3 relative mb-12" data-aos="fade-up" data-aos-duration="950" data-aos-anchor-placement="top-bottom">
        <div class="bg-wkWhite relative z-10 py-10 px-8">
          <h4 class="font-bold text-black text-xl leading-tight mb-6">Planificamos los experimentos</h4>
          <p class="text-base leading-relaxed text-secondary mb-4">De forma semanal iniciamos y concluimos testeos rápidos sobre cada hipótesis definida. Luego de iteraciones varias, buscamos concluir la validez del canal de adquisición que estemos usando. A veces las hipótesis fallan, y cuando creíamos imposible vender productos B2B por whatsapp, resulta que funciona y tenemos que aprender de ello.</p>
          <h6 class="text-sm font-bold text-black pt-2 mb-3">Herramientas</h6>
          <div class="flex items-center -mx-2">
            <div class="bg-secondary py-2 px-6 rounded-full shadow-md inline-block mx-2">
              <span class="text-center block text-sm font-bold text-wkGray">Mailchimp</span>
            </div>
            <div class="bg-secondary py-2 px-6 rounded-full shadow-md inline-block mx-2">
              <span class="text-center block text-sm font-bold text-wkGray">Sendfox</span>
            </div>
            <div class="bg-secondary py-2 px-6 rounded-full shadow-md inline-block mx-2">
              <span class="text-center block text-sm font-bold text-wkGray">Phantombuster</span>
            </div>
            <div class="bg-secondary py-2 px-6 rounded-full shadow-md inline-block mx-2">
              <span class="text-center block text-sm font-bold text-wkGray">Reply.io</span>
            </div>
          </div>
        </div>
        <div class="w-full h-full border border-secondary absolute z-0 top-1 left-1"></div>
      </article>
      <article class="col-span-8 col-start-3 relative mb-12" data-aos="fade-up" data-aos-duration="950" data-aos-anchor-placement="top-bottom">
        <div class="bg-wkWhite relative z-10 py-10 px-8">
          <h4 class="font-bold text-black text-xl leading-tight mb-6">Automatizamos</h4>
          <p class="text-base leading-relaxed text-secondary mb-4">Todo lo dicho anteriormente pero con una diferencia: que pase mientras hacemos otra cosa. Generamos bases de datos que automáticamente generan impactos con tus potenciales clientes y los hacen viajar por un paso a paso hasta la venta. </p>
          <h6 class="text-sm font-bold text-black pt-2 mb-3">Herramientas</h6>
          <div class="flex items-center -mx-2">
            <div class="bg-secondary py-2 px-6 rounded-full shadow-md inline-block mx-2">
              <span class="text-center block text-sm font-bold text-wkGray">Zapier</span>
            </div>
            <div class="bg-secondary py-2 px-6 rounded-full shadow-md inline-block mx-2">
              <span class="text-center block text-sm font-bold text-wkGray">Integromat</span>
            </div>
          </div>
        </div>
        <div class="w-full h-full border border-secondary absolute z-0 top-1 left-1"></div>
      </article>
      <article class="col-span-8 col-start-3 relative mb-12" data-aos="fade-up" data-aos-duration="950" data-aos-anchor-placement="top-bottom">
        <div class="bg-secondary relative z-10 py-10 px-8 text-center">
          <img src="/img/whoknows-agency-ux-growth-marketing-logo-icon-negativo.svg" alt="WhoKnows Agency logo icon" class="mx-auto">
          <h4 class="font-bold text-white text-xl leading-tight pt-4">Volvemos a empezar</h4>
        </div>
        <div class="w-full h-full border border-secondary absolute z-0 top-1 left-1"></div>
      </article>
    </div>
  </div>
</section>
<section class="pb-40 bg-white">
  <div class="container mx-auto px-4">
    <div class="md:grid md:grid-cols-12 md:gap-8 mb-16">
      <h3 class="text-3xl md:text-4xl font-bold text-black leading-tight col-span-4 mb-6 md:mb-0" data-aos="fade-right" data-aos-duration="950" data-aos-anchor-placement="top-bottom">Casos</h3>
      <div class="col-span-8">
        <p class="text-lg md:text-xl leading-relaxed mb-4 text-secondary text-right" data-aos="fade-left" data-aos-duration="950" data-aos-anchor-placement="top-bottom">Algunos proyectos en los que aplicamos estos procesos:</p>
      </div>
    </div>
    <div class="md:grid md:grid-cols-12 md:gap-8">
      <article class="col-span-4 px-6 py-10 border border-secondary mb-4 md:mb-0" data-aos="fade-up" data-aos-duration="950" data-aos-anchor-placement="top-bottom">
        <h5 class="text-xl font-bold text-black leading-tight mb-3">CulturaIT</h5>
        <p class="text-base text-secondary leading-relaxed mb-6">+500 leads calificados para contactar vía mail o Linkedin con campañas de nutrición de esos leads mediantes contenidos relevantes para la industria.</p>
        <a href="/casos/culturait" class="flex items-center">
          <img class="mr-3" src="/img/icons/arrow-btn-right-black.svg" alt="Icono flecha hacia derecha">
          <span class="text-base font-sans font-bold text-black">Ver caso</span>
        </a>
      </article>
      <article class="col-span-4 px-6 py-10 border border-secondary mb-4 md:mb-0" data-aos="fade-up" data-aos-duration="950" data-aos-anchor-placement="top-bottom">
        <h5 class="text-xl font-bold text-black leading-tight mb-3">Remax Blue</h5>
        <p class="text-base text-secondary leading-relaxed mb-6">+10 leads calificados semanales que entraban en un embudo automatizado de nutrición para ser invitados a charlas informativas online y luego entrevistados uno a uno.</p>
        <a href="/casos/remaxblue" class="flex items-center">
          <img class="mr-3" src="/img/icons/arrow-btn-right-black.svg" alt="Icono flecha hacia derecha">
          <span class="text-base font-sans font-bold text-black">Ver caso</span>
        </a>
      </article>
      <article class="col-span-4 px-6 py-10 border border-secondary" data-aos="fade-up" data-aos-duration="950" data-aos-anchor-placement="top-bottom">
        <h5 class="text-xl font-bold text-black leading-tight mb-3">Tincho&Lola</h5>
        <p class="text-base text-secondary leading-relaxed mb-6">Generación del 50% de las ventas de forma orgánica a través de campañas de email marketing y acciones específicas de facebook ads.</p>
        <a href="/casos/tinchoandlola" class="flex items-center">
          <img class="mr-3" src="/img/icons/arrow-btn-right-black.svg" alt="Icono flecha hacia derecha">
          <span class="text-base font-sans font-bold text-black">Ver caso</span>
        </a>
      </article>
    </div>
  </div>
</section>
{{ partial "contact-cta.html" . }}
{{ end }}