{{ define "main" }}
<section class="bg-black pt-24 md:pt-40 pb-24 font-serif">
  <div class="container mx-auto px-4">
    <div class="max-w-3xl" data-aos="fade-up" data-aos-duration="950" data-aos-anchor-placement="top-bottom">
      <a href="/" class="flex items-center mb-6">
        <img class="mr-3" src="/img/icons/arrow-btn-left-white.svg" alt="Icono flecha hacia izquierda">
        <span class="text-base font-sans font-bold text-white">Volver al inicio</span>
      </a>
      <h1 class="text-4xl md:text-5xl font-bold text-white leading-tight mb-5">{{ .Title }}</h1>
      <h2 class="text-xl md:text-2xl text-wkGray leading-relaxed mb-12">Para quienes emprenden e invierten, un lugar en donde compartimos lo que aprendemos.</h2>
    </div>
  </div>
</section>
<section class="pt-32 pb-20 bg-white">
  <div class="container mx-auto px-4">
    <div class="md:grid md:grid-cols-12 md:gap-8 mb-16">
      {{ range .Pages.ByPublishDate.Reverse }}
      <article class="col-span-4 px-6 py-10 border border-secondary mb-6 md:mb-0" data-aos="zoom-in-left" data-aos-duration="500">
        <h5 class="text-xl font-bold text-black leading-tight mb-3">{{ .Title }}</h5>
        <p class="text-base text-secondary leading-relaxed mb-6">{{ partial "date.html" . }}</p>
        <a href="{{ .RelPermalink }}" class="flex items-center">
          <img class="mr-3" src="/img/icons/arrow-btn-right-black.svg" alt="Icono flecha hacia derecha">
          <span class="text-base font-sans font-bold text-black">Leer</span>
        </a>
      </article>
      {{ end }}
    </div>
  </div>
</section>
{{ partial "contact-cta.html" . }}
{{ end }}