{{ define "main" }}
<section class="bg-black pt-24 md:pt-40 pb-24 font-serif">
  <div class="container mx-auto px-4">
    <div class="max-w-3xl" data-aos="fade-up" data-aos-duration="950" data-aos-anchor-placement="top-bottom">
      <a href="/blog/" class="flex items-center mb-6">
        <img class="mr-3" src="/img/icons/arrow-btn-left-white.svg" alt="Icono flecha hacia izquierda">
        <span class="text-base font-sans font-bold text-white">Ver todos los artículos</span>
      </a>
      <h1 class="text-4xl md:text-5xl font-bold text-white leading-tight mb-8">{{ .Title }}</h1>
      <div>
        <span class="block text-base leading-relaxed text-wkGray">Publicado el:</span>
        <p class="text-2xl font-bold text-white">{{ partial "date.html" . }}</p>
      </div>
    </div>
  </div>
</section>
<section class="pt-24 pb-40 bg-white">
  <div class="container mx-auto px-4">
    <div class="md:grid md:grid-cols-12 md:gap-8">
      <div class="col-span-8 col-start-3 single" data-aos="fade-in" data-aos-duration="950" data-aos-anchor-placement="top-bottom">
        {{ .Content }}
      </div>
    </div>
  </div>
</section>
{{ partial "contact-cta.html" . }}
{{ end }}