{{ define "main" }}
<section class="bg-black pt-24 md:pt-40 pb-24 font-serif">
  <div class="container mx-auto px-4">
    <div class="max-w-3xl" data-aos="fade-up" data-aos-duration="950" data-aos-anchor-placement="top-bottom">
      <a href="/casos/" class="flex items-center mb-6">
        <img class="mr-3" src="/img/icons/arrow-btn-left-white.svg" alt="Icono flecha hacia izquierda">
        <span class="text-base font-sans font-bold text-white">Ver todos los casos</span>
      </a>
      <h1 class="text-4xl md:text-5xl font-bold text-white leading-tight mb-8">Cómo ayudamos a una fintech emergente a crear un sitio para comprar y vender dólares</h1>
      <div class="flex items-end">
        <div class="md:mr-8">
          <span class="block text-base leading-relaxed text-wkGray">Cliente:</span>
          <p class="text-2xl font-bold text-white">CambioAR</p>
        </div>
        <div>
          <div class="bg-secondary py-2 px-6 rounded-full shadow-md inline-block mx-2">
            <span class="text-center block text-sm font-bold text-wkGray">UX Sprints</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="overflow-x-hidden bg-white py-32">
  <div class="container mx-auto px-4">
    <div class="md:grid md:grid-cols-12 md:gap-8 mb-16">
      <h3 class="text-3xl md:text-4xl font-bold text-black leading-tight col-span-4 mb-6 md:mb-0" data-aos="fade-right" data-aos-duration="950">El caso:</h3>
      <div class="col-span-8" data-aos="fade-left" data-aos-duration="950">
        <p class="text-lg md:text-xl leading-relaxed mb-4 text-secondary">Así es como ayudamos a CambioAR, un emprendimiento argentino, a crear una aplicación web para comprar y vender dólares.</p>
        <p class="text-lg md:text-xl leading-relaxed mb-4 text-secondary">Formamos un equipo junto a los founders y developers de la empresa y trabajamos paso a paso para resolver los distintos problemas que existían. CambioAR contaba con la tecnología desarrollada, pero le faltaba darle vida comercial a ese desarrollo para poder lanzarlo al mercado y comenzar a captar usuarios.</p>
      </div>
    </div>
    <div class="md:grid md:grid-cols-12 md:gap-8 mb-16" data-aos="fade-up" data-aos-duration="950">
      <img class="block w-full col-span-12 rounded-lg shadow-lg" src="/img/casos/cambioar/cambioar-homepage.jpg" alt="Imagen de homepage">
    </div>
    <div class="md:grid md:grid-cols-12 md:gap-8 mb-24">
      <h4 class="col-span-8 col-start-3 text-2xl font-bold text-black pt-10 pb-4">Lo que hicimos:</h4>
      <article class="col-span-8 col-start-3 relative mb-4" data-aos="fade-up" data-aos-duration="950" data-aos-anchor-placement="top-bottom">
        <div class="bg-wkWhite relative z-10 py-10 px-8">
          <h4 class="font-bold text-black text-xl leading-tight">Estrategia de producto</h4>
        </div>
        <div class="w-full h-full border border-secondary absolute z-0 top-1 left-1"></div>
      </article>
      <article class="col-span-8 col-start-3 relative mb-4" data-aos="fade-up" data-aos-duration="950" data-aos-anchor-placement="top-bottom">
        <div class="bg-wkWhite relative z-10 py-10 px-8">
          <h4 class="font-bold text-black text-xl leading-tight">UX Design</h4>
        </div>
        <div class="w-full h-full border border-secondary absolute z-0 top-1 left-1"></div>
      </article>
      <article class="col-span-8 col-start-3 relative mb-4" data-aos="fade-up" data-aos-duration="950" data-aos-anchor-placement="top-bottom">
        <div class="bg-wkWhite relative z-10 py-10 px-8">
          <h4 class="font-bold text-black text-xl leading-tight">UI Development</h4>
        </div>
        <div class="w-full h-full border border-secondary absolute z-0 top-1 left-1"></div>
      </article>
      <article class="col-span-8 col-start-3 relative mb-4" data-aos="fade-up" data-aos-duration="950" data-aos-anchor-placement="top-bottom">
        <div class="bg-wkWhite relative z-10 py-10 px-8">
          <h4 class="font-bold text-black text-xl leading-tight">Diseño de Ads</h4>
        </div>
        <div class="w-full h-full border border-secondary absolute z-0 top-1 left-1"></div>
      </article>
    </div>
    <div class="md:grid md:grid-cols-12 md:gap-8 mb-16" data-aos="fade-up" data-aos-duration="950">
      <img class="block w-full col-span-12 rounded-lg shadow-lg" src="/img/casos/cambioar/cambioar-styleguide.jpg" alt="Guía de estilos o styleguide de CambioAR">
    </div>
    <div class="md:grid md:grid-cols-12 md:gap-8 mb-16" data-aos="fade-up" data-aos-duration="950">
      <img class="block w-full col-span-12 rounded-lg shadow-lg" src="/img/casos/cambioar/cambioar-wireframes.jpg" alt="Wireframes de CambioAR">
    </div>
    <div class="md:grid md:grid-cols-12 md:gap-8 mb-16" data-aos="fade-up" data-aos-duration="950">
      <img class="block w-full col-span-12 rounded-lg shadow-lg" src="/img/casos/cambioar/cambioar-ui.jpg" alt="UI o User Interface de CambioAR">
    </div>
    <div class="md:grid md:grid-cols-12 md:gap-8 mb-24">
      <h4 class="col-span-8 col-start-3 text-2xl font-bold text-black pt-10">Resultados</h4>
      <div class="col-span-8 col-start-3">
        <p class="text-lg md:text-xl leading-relaxed mb-4 text-secondary">Logramos ayudar a CambioAR y a su equipo a crear y lanzar la primera casa de cambio online autorizada por el Banco Central Argentino para operar de forma 100% virtual.</p>
      </div>
    </div>
  </div>
  <img class="block w-full" src="/img/casos/cambioar/cambioar-responsive.jpg" alt="Capturas de pantalla de páginas responsive">
</section>
{{ partial "contact-cta.html" . }}
{{ end }}