{{ define "main" }}
<section class="bg-black pt-24 md:pt-40 pb-24 font-serif">
  <div class="container mx-auto px-4">
    <div class="max-w-3xl" data-aos="fade-up" data-aos-duration="950" data-aos-anchor-placement="top-bottom">
      <a href="/casos/" class="flex items-center mb-6">
        <img class="mr-3" src="/img/icons/arrow-btn-left-white.svg" alt="Icono flecha hacia izquierda">
        <span class="text-base font-sans font-bold text-white">Ver todos los casos</span>
      </a>
      <h1 class="text-4xl md:text-5xl font-bold text-white leading-tight mb-8">Captando potenciales agentes inmobiliarios con una estrategia B2B</h1>
      <div class="flex items-end">
        <div class="md:mr-8">
          <span class="block text-base leading-relaxed text-wkGray">Cliente:</span>
          <p class="text-2xl font-bold text-white">Remax Blue</p>
        </div>
        <div>
          <div class="bg-secondary py-2 px-6 rounded-full shadow-md inline-block mx-2">
            <span class="text-center block text-sm font-bold text-wkGray">Growth Marketing</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="overflow-x-hidden bg-white py-32">
  <div class="container mx-auto px-4">
    <div class="md:grid md:grid-cols-12 md:gap-8 mb-16">
      <h3 class="text-3xl md:text-4xl font-bold text-black leading-tight col-span-4 mb-6 md:mb-0" data-aos="fade-right" data-aos-duration="950">El caso:</h3>
      <div class="col-span-8" data-aos="fade-left" data-aos-duration="950">
        <p class="text-lg md:text-xl leading-relaxed mb-4 text-secondary">Generamos audiencias hiper segmentadas para captar interesados que quieran ser agentes inmobiliarios de Remax Blue.</p>
      </div>
    </div>
    <div class="md:grid md:grid-cols-12 md:gap-8 mb-24">
      <h4 class="col-span-8 col-start-3 text-2xl font-bold text-black pt-10 pb-4">La construcción del modelo fue gestionada a través de:</h4>
      <article class="col-span-8 col-start-3 relative mb-12" data-aos="fade-up" data-aos-duration="950" data-aos-anchor-placement="top-bottom">
        <div class="bg-wkWhite relative z-10 py-10 px-8">
          <h4 class="font-bold text-black text-xl leading-tight mb-6">Facebook Leads + Linkedin automation para adquisición de prospectos</h4>
          <p class="text-base leading-relaxed text-secondary mb-4">Acciones de pauta online complementadas con búsquedas de Linkedin para captar asistentes a charlas informativas online mediante Eventbrite.</p>
        </div>
        <div class="w-full h-full border border-secondary absolute z-0 top-1 left-1"></div>
      </article>
      <article class="col-span-8 col-start-3 relative mb-12" data-aos="fade-up" data-aos-duration="950" data-aos-anchor-placement="top-bottom">
        <div class="bg-wkWhite relative z-10 py-10 px-8">
          <h4 class="font-bold text-black text-xl leading-tight mb-6">SendFox para mailing automations de forma mensual</h4>
          <p class="text-base leading-relaxed text-secondary mb-4">Intentos de contacto para cubrir más asistencias a partir de los datos obtenidos con las búsquedas de LinkedIn.</p>
        </div>
        <div class="w-full h-full border border-secondary absolute z-0 top-1 left-1"></div>
      </article>
      <article class="col-span-8 col-start-3 relative mb-12" data-aos="fade-up" data-aos-duration="950" data-aos-anchor-placement="top-bottom">
        <div class="bg-wkWhite relative z-10 py-10 px-8">
          <h4 class="font-bold text-black text-xl leading-tight mb-6">Hubspot</h4>
          <p class="text-base leading-relaxed text-secondary mb-4">Gestión de los asistentes de las charlas mediante Hubspot CRM, para que los equipos de ventas puedan hacer la calificación ideal y elegir por avanzar o no con los potenciales agentes.</p>
        </div>
        <div class="w-full h-full border border-secondary absolute z-0 top-1 left-1"></div>
      </article>
      <h4 class="col-span-8 col-start-3 text-2xl font-bold text-black pt-10">Resultados</h4>
      <div class="col-span-8 col-start-3 flex md:grid md:grid-cols-12 md:gap-8">
        <article class="col-span-6 bg-wkWhite shadow-md px-10 py-16 flex items-center justify-center mb-4 md:mb-0" data-aos="fade-in" data-aos-duration="950">
          <p class="text-lg text-secondary leading-relaxed text-center">+20 asistentes semanales a charlas informativas</p>
        </article>
        <article class="col-span-6 bg-wkWhite shadow-md px-10 py-16 flex items-center justify-center mb-4 md:mb-0" data-aos="fade-in" data-aos-duration="950">
          <p class="text-lg text-secondary leading-relaxed text-center">+3 agentes nuevo por mes</p>
        </article>
        <article class="col-span-6 bg-wkWhite shadow-md px-10 py-16 flex items-center justify-center mb-4 md:mb-0" data-aos="fade-in" data-aos-duration="950">
          <p class="text-lg text-secondary leading-relaxed text-center">Costo por lead de u$0.30</p>
        </article>
        <article class="col-span-6 bg-wkWhite shadow-md px-10 py-16 flex items-center justify-center mb-4 md:mb-0" data-aos="fade-in" data-aos-duration="950">
          <p class="text-lg text-secondary leading-relaxed text-center">Coste por agente nuevo de u$25</p>
        </article>
      </div>
    </div>
  </div>
</section>
{{ partial "contact-cta.html" . }}
{{ end }}