<section class="bg-black py-24 font-serif focus:outline-none" id="budget">
  <div class="container mx-auto px-4">
    <article class="max-w-4xl mx-auto text-center">
      <h4 class="text-4xl md:text-5xl font-bold text-white mb-10 leading-tight" data-aos="zoom-in" data-aos-duration="950">Estima los costos para escalar tu proyecto de forma rápida e iterativa.</h4>
      <a href="/precios" class="font-sans bg-primary text-white text-sm font-bold text-center rounded-full shadow-md py-2 px-8" data-aos="fade-up" data-aos-duration="950">Calcular presupuesto</a>
      <a href="/contacto" class="text-base underline text-wkGray block pt-6">Quiero hablar con alguien primero</a>
    </article>
  </div>
</section>