<header class="py-10 bg-black font-sans text-white text-base font-normal z-20" id="header">
  <div class="container mx-auto px-4">
    <nav class="flex justify-between items-center">
      <a href="/">
        <img src="/img/whoknows-agency-ux-growth-marketing-logo-negativo.svg" alt="WhoKnows Agency logo">
      </a>
      <ul class="menu fixed left-0 w-full h-full bg-black md:w-auto md:h-auto md:bg-transparent md:static md:block md:flex md:items-center z-20">
        {{/*  <li class="my-5 md:my-0 px-4 has-dropdown relative">
          <div class="cursor-pointer flex items-center justify-center">
            <a class="mr-1">Servicios</a>
            <img src="/img/icons/arrow-menu-dropdown.svg" alt="Icono chevron hacia abajo">
          </div>
          <ul class="md:absolute bg-white shadow-md rounded-md py-6 px-5 text-secondary top-0 mt-2 md:mt-5 mx-auto">
            <li>
              <a href="/uxsprints" class="flex items-center my-2">
                <img class="mr-2" src="/img/icons/arrow-btn-right-black.svg" alt="Icono flecha hacia derecha">
                <span>UX Sprints</span>
              </a>
              <a href="/growthmarketing" class="flex items-center my-2">
                <img class="mr-2" src="/img/icons/arrow-btn-right-black.svg" alt="Icono flecha hacia derecha">
                <span>Growth Marketing</span>
              </a>
            </li>
          </ul>
        </li>  */}}
        <li class="text-center my-5 md:my-0 px-4">
          <a href="/casos">Casos</a>
        </li>
        <li class="text-center my-5 md:my-0 px-4">
          <a href="/blog">Blog</a>
        </li>
        <li class="text-center my-5 md:my-0 px-4">
          <a href="/contacto">Contacto</a>
        </li>
        <li class="text-center my-5 md:my-0 px-4">
          <a href="/precios" class="bg-primary text-white text-sm font-bold text-center rounded-full shadow-md py-2 px-8">Calcular presupuesto</a>
        </li>
      </ul>
      <button class="md:hidden" id="hamburger">Menu</button>
    </nav>
  </div>
</header>